body {
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/gw.jpg');
    background-size: cover;

}

.left {
    display: inline-block;
    position: absolute;
    /* border: 2px solid yellowgreen; */
    margin: -23px 22px;
}

.left img {
    width: 260px;
    filter: invert(90%);
    height: 285px;
    margin: -90px -30px;
    cursor: pointer;
}

.left div {
    text-align: center;
    font-size: 30px;
}

.center {
    display: block;
    width: 55%;
    margin: 30px auto;
    /* border: 2px solid lightcoral; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: azure;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 21px;
}

.navbar li a:hover,
.navbar li a.active {
    color: antiquewhite;
    text-decoration: underline;
}

.right {
    display: inline-block;
    position: absolute;
    /* border: 2px solid blue; */
    top: 35px;
    right: 10px;
    margin: 0px 0px;

}

.right img {
    width: 30px;
    height: 35px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    filter: invert(100%);
}

.right img:hover {
    filter: invert(1%);
}

.right .search {
    font-family: 'Noto Sans Mono', monospace;
    width: 150px;
    height: 32px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -12px;
    right: -9px;
    font-size: 15px;
}

.container {
    border: 2px solid white;
    margin: 150px 50px;
    padding: 50px 30px;
    width: 36%;
    border-radius: 20px;
}

.form {
    border-radius: 5px;
    font-size: 18px;
}

.form input {
    font-family: 'Noto Sans Mono', monospace;
    padding: 2px;
    width: 286px;
    height: 20px;
    background-color: ghostwhite;
    color: black;
    border: 2px solid lightgrey;
}

.submit:hover,
.reset:hover {
    filter: invert(100%);
    cursor: pointer;
}